# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# IDE or editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp

